[Desktop Entry]
Name=Keyvisor
Comment=Protect SSH keys with your TPM
Exec=keyvisor
Icon=me.nexryai.keyvisor
Terminal=false
Type=Application
Categories=Utility;
Keywords=SSH;Key;Agent;TPM;Security;
StartupNotify=true
